.container {
	animation-name: slideUp;
	animation-duration: 1000ms;
	transition: opacity 0.4s ease-in-out;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes slideUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
