.container {
  padding: 0.5em;
  background-color: white;
  display: flex;
  align-items: center;
}
.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.cart-btn {
  outline: none;
  border: none;
  background: none;
}
